name: Qualcomm Preflight Checks
on:
  pull_request_target:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
 contents: read
 security-events: write

jobs:
  qcom-preflight-checks:
    uses: qualcomm/qcom-reusable-workflows/.github/workflows/reusable-qcom-preflight-checks-orchestrator.yml@v2
    with:
        repolinter: true                   # default: true
        semgrep: true                      # default: true
        copyright-license-detector: true   # default: true
        pr-check-emails: true              # default: true
        dependency-review: true            # default: true
        enable-armor-checkers: true
        armor-checker-options: '{"build-script":"ci/build.sh","runs-on":{"group":"GHA-CSEPerf-prd-SelfHosted-RG","labels":[self-hosted, cseperf-prd-u2204-arm64-xlrg-od-ephem]}}'

    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
